:root{
    --dark-color: #9B225C;
    --red-color: #E21818;
    --yellow-color: #FFDD83;
    --aqua-color: #98DFD6;
}
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    overflow-x: hidden;
    background: var(--dark-color);
    font-family: 'Montserrat', serif;
    margin: 0;
    color: white;
}